body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    background-color: azure;
}

#heading h1{
    color: blue;
    text-align: center;
}

#subheading h3{
    color: blue;
    font-style: italic;
}

a {
    color: black;
}

#postList a:hover{
    color: blue;
}

#UsersLink a {
    color: red;
}